################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/LinkedList/v17
/LinkedList/x64/Debug
/x64/Debug
